a:visited.main_selected_tab{
	color: #FFFFFF;
}
.nav_bar_holder{
	border-bottom: solid 8px #0055b8;
}
td.main_selected_tab,
.cv.main_selected_tab{
	border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    background-color: #0055b8;
 }
table {
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 0px;
    font-variant: normal;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
td {
    font-size: 13px;
}
a.main_selected_tab {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
td.main_greyed_tab {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EEEEEE;
    color: #AAAAAA;
    font-weight: bold;
    border-top: solid 1px #DDDDDD;
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 12px;
}
input[type=submit] {
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    background-color: #0055b8;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 0 0 1px #0055b8;
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
}
div.section {
    padding: 12px;
    margin-bottom: 12px;
    border: solid 1px #E0E0FF;
    background-color: #FBFBFF;
    width: 976px;
}
input[type=text], input[type=password], input[type=submit], select {
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #aaa;
}
img[Attributes Style] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.tc {
    text-align: center;
    padding: 10px;
}
a, a:visited {
    color: #0055b8;
}
div.section {
    padding: 12px;
    margin-bottom: 12px;
    border: solid 1px #E0E0FF;
    background-color: #FBFBFF;
    width: 976px;
}
.expfrm input {
    display: table-cell;
    width: 96%!important;
}
td.main_inactive_tab, .cv.main_inactive_tab {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F0F0FF;
    border-top: solid 1px #DDDDFF;
    border-left: solid 1px #DDDDFF;
    border-right: solid 1px #DDDDFF;
}
table.skills {
    border-collapse: collapse;
    border: 0;
}
div.section table {
    width: 100%;
    /* text-align: center; */
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tc {
    text-align: center;
    padding: 10px;
}